body {
    margin: 0;
    background-color: #FAF4F0;
    font-family: 'Roboto Flex', sans-serif;
    position: relative;
    font-weight: 700;
    font-size: 0.8rem;
}

ul {
    padding: 0;
}

li {
    margin-bottom: 1rem;
    display: flex;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

h3 {
    margin: 0;
    font-weight: 800;
    font-size: 2em;
    /* 30px ~ 2em */
}

hr {
    height: 1px;
    background-color: black;
}

tr,
table,
thead {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: #fff;
}

td {
    padding: 1.2rem 1rem;
}

thead td {
    padding: 0.5rem 1rem;
}

thead>tr {
    color: grey;
}

option {
    background-color: #AE7AFF;
}

details summary::marker {
    content: url(icons/open-arrow.svg);
}

details[open] summary::marker {
    content: url(icons/closed-arrow.svg);
}

input[type=checkbox]:before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border: 1px solid black;
    border-radius: 1px;
    background-color: white;
}

input[type=checkbox]:checked:after {
    content: "";
    position: absolute;
    left: 4px;
    width: 5px;
    height: 10px;
    border: 1px solid black;
    border-width: 0 2px 2px 0;
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

details {
    margin: 1.5rem 0px;
}

.wrapper {
    display: grid;
    grid-template-areas: "aside right-side";
    grid-template-columns: 1fr 4fr;
}

/*********************************** ASIDE ******************************/
.aside-wrapper {
    grid-area: aside;
    background-color: black;
    color: #fff;
    padding: 1rem 2rem;
}

.aside__burger-icon {
    display: none;
}

.aside__logo {
    margin: 0.5rem 0 2rem 0;
}

.nav-mobile {
    grid-area: aside-mobile;
    display: none;
}

.nav,
.nav__team {
    padding: 1rem 0;
}

.nav__title {
    font-weight: 500;
    color: #FFFFFFBF;
    margin-bottom: 1.5rem;
}

.nav__text {
    margin-left: 1rem;
}
.nav__text:hover {
    color: #AE7AFF;
}
ul.nav__sections__ls a:hover {
    color: #AE7AFF;
}

ul.nav__sections__ls a {
    display: flex;
}

/************** ASIDE NAVIGATION ****************/
.dash::before {
    content: url("icons/dashboard-icon.svg");
    display: inline-flex;
    width: 16px;
}
.dash:hover::before {
    content: url("icons/dash-purple.svg");
}
.products::before {
    content: url("icons/products-icon.svg");
    display: inline-flex;
    width: 16px;
}
.products:hover::before {
    content: url("icons/products-purple.svg");
}
.cont::before {
    content: url("icons/contacts-icon.svg");
    display: inline-flex;
    width: 16px;
}
.cont:hover::before {
    content: url("icons/contactsSmall-purple.svg");
}
.customers::before {
    content: url("icons/customers-icon.svg");
    display: inline-flex;
    width: 16px;
}
.customers:hover::before {
    content: url("icons/customers-purple.svg");
}
.sales::before {
    content: url("icons/sales-icon.svg");
    display: inline-flex;
    width: 16px;
}
.sales:hover::before {
    content: url("icons/sales-purple.svg");
}
.analytics::before {
    content: url("icons/analytics-icon.svg");
    display: inline-flex;
    width: 16px;
}
.analytics:hover::before {
    content: url("icons/analytics-purple.svg");
}

/**************** ASIDE TEAM **********************/
.profile__img {
    height: 22px;
    width: 22px;
}

.nav__profile {
    position: absolute;
    bottom: 5%;
    display: flex;
}

.profile__btn {
    margin-left: 2rem;
    background: transparent;
    border: none;
}

.summary__text {
    margin-left: 0.5rem;
}

/**************************************** RIGHT SIDE ***********************************/
.right-side {
    grid-area: right-side;
}

/*********** TOP BAR **********/
.topBar {
    display: grid;
    grid-template: "topBar__title topBar__options topBar__create" 60px / 8fr 2fr 2fr;
    align-items: center;
    margin: 0.5rem 4rem 0rem;
}

.title__mobile {
    display: none;
}

.topBar__options {
    display: flex;
    justify-content: end;
    gap: 5%;
}

.topBar__btn {
    display: inline-flex;
    border: none;
    background: transparent;
    align-items: center;
}

.topBar__create {
    display: flex;
    justify-content: end;
}

.create__btn {
    background-color: #AE7AFF;
    padding: 0.5rem 1rem;
    border-radius: 1px;
    align-items: center;
    width: max-content;
    display: flex;
}

/********** CONTACTS CONTROLS **********/
.contacts-ctrl {
    display: grid;
    grid-template: "contacts-ctrl__views contacts-ctrl__opt";
    margin: 1rem 4rem;
}

.contacts-ctrl__views {
    display: flex;
}

.contacts-ctrl__opt {
    display: flex;
    justify-content: end;
    gap: 5%;
}

.views__btn {
    background-color: transparent;
    border: none;
    color: black;
    padding: 0.5rem 1rem;
    gap: 5%;
}

.views__btn:hover {
    background-color: black;
    color: white;
}

.opt__btn {
    background: transparent;
    border-radius: 1px;
    padding: 0.5rem 1rem;
    border: 1px solid black;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.opt__btn:hover {
    background-color:#AE7AFF;
}

.opt__icon {
    margin-right: 0.5rem;
}

/************* CONTACTS TABLE **************/
#contacts-table {
    margin: 2rem 4rem 0 4rem;
}
#name {
    padding: 0.8rem;
}
.contacts__email {
    font-weight: 400;
}

.contacts__checkbox {
    transform: scale(1.5);
    margin-right: 1rem;
}

/********** PAGIN **********/
.pagin {
    display: grid;
    grid-template: "pagin__prev pagin__text pagin__next";
    margin: 0.3rem 4rem;
}

.pagin__btn {
    background: transparent;
    border-radius: 1px;
    padding: 0.5rem 1rem;
    border: 1px solid black;
    width: max-content;
}

.btn-text {
    font-weight: 700;
    font-size: 0.8rem;
    margin-left: 0.5rem;
}

.pagin__text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;
}

.pagin__prev {
    display: flex;
}

.pagin__next {
    display: flex;
    justify-content: end;
}

/********** BOTTOM ***********/
.bottom {
    display: grid;
    grid-template: "links switch" 20px/ 4fr 1fr;
    margin: 1rem 4rem;
}

.language {
    display: flex;
    align-items: center;
}

.links__btn {
    background-color: transparent;
    border: none;
    color: black;
    padding: 0.5rem 0rem;
    display: flex;
    align-items: center;
}

.links__btn::before {
    content: url(icons/language-icon.svg);
}
.links__btn:hover::before {
    content: url(icons/language-purple.svg);
}
.links__btn:hover {
    color: #AE7AFF;
}
.bottom__links {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5%;
}

.link {
    color: black;
}

.link:hover {
    color:#AE7AFF;
}

.bottom__switch {
    display: flex;
    justify-content: end;
}

.switch__icon {
    height: 16px;
    width: 16px;
}

.switch__dark {
    background: transparent;
    border: 1px solid black;
    height: 25px;
    padding: 5px;
    border-bottom-right-radius: 2px;
    border-left: 0;
    border-top-right-radius: 2px;

}

.switch__light {
    background-color: #AE7AFF;
    border: 1px solid black;
    height: 25px;
    padding: 5px;
    border-bottom-left-radius: 2px;
    border-right: 0;
    border-top-left-radius: 2px;
}

/*********** TABLET SCREEN ***************/
@media screen and (min-width: 481px) and (max-width: 983px)  {

    .nav__text,
    .aside__logo,
    .nav__title {
        display: none;
    }

    details {
        display: none;
    }

    .aside__burger-icon {
        display: flex;
        margin: 1rem 0;
    }

    .wrapper {
        grid-template-columns: 0.5fr 4fr;
    }

    .topBar__title {
        margin-right: 10rem;
    }

    .topBar__btn {
        display: inline-flex;
    }

    .nav__dash::before:hover {
        color: #AE7AFF;
    }
}

/*********** MOBILE SCREEN ************/
@media screen and (max-width: 480px) {

    .contacts-ctrl__opt,
    .topBar__create,
    .notifications,
    .apps,
    .pagin,
    .title__desktop,
    .aside-wrapper,
    .bottom,
    .topBar__hr,
    input[type="checkbox"],
    .email,
    .service {
        display: none;
    }

    #email,
    #service,
    #name,
    #status {
        display: none;
    }

    .wrapper {
        grid-template: "right-side"
                        "aside-mobile";
    }

    .nav-mobile {
        display: grid;
    }

    .nav-mobile__hr {
        padding: 1rem 0;
    }

    .nav-mobile__icons {
        display: flex;
        justify-content: space-between;
        margin: 0 2rem;
    }

    .aside-wrapper {
        margin: 1rem 2rem;
    }

    .title__mobile {
        display: flex;
    }

    .topBar {
        grid-template: "topBar__title search" 60px/ 4fr 1fr;
    }

    .contacts-ctrl {
        display: grid;
        grid-template: "contacts-ctrl__views";
    }

    .views__btn {
        width: 33%;
    }

    .btn-text {
        margin: 0;
    }

    .search {
        border: 1px solid black;
        padding: 0.5rem 0.7rem;
    }

    .status__online {
        display: flex;
        justify-content: flex-end;
    }
}